/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #333;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.black {
    color: #fff;
}

.green {
    color: #00ff00;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    /* Adiciona um espaçamento na parte superior e inferior */
    padding: 10px 20px;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinha o menu verticalmente */
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #00ff00;
}

.container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 20px;
}


/* Responsividade para a seção de informações do desenvolvedor */

.developer-info {
    background-image: url('IMG_4899.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -1;
    height: 300px;
    /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}


.info {
    margin-left: 20px;
}

.typing-effect {
    border-right: 2px solid #00ff00;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(20, end) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


/* Responsividade */

@media only screen and (max-width: 768px) {
    .developer-info {
        height: 200px;
        /* Ajuste a altura para dispositivos móveis */
    }
    .profile-pic {
        width: 80px;
        height: 80px;
    }
}

.about-me {
    display: flex;
    margin-bottom: 30px;
}

.text {
    flex: 1;
}

.textbox textarea {
    width: 100%;
    height: 100px;
}

.services {
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    flex-basis: calc(30% - 20px);
    /* Reduzido o espaço entre os cards */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    /* Adicionado espaço entre os cards */
    transition: transform 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        /* Alterado para coluna em telas menores */
    }
    .card {
        flex-basis: 100%;
        /* Alterado para ocupar toda a largura */
        margin-bottom: 20px;
        /* Adicionado espaço entre os cards */
    }
}

.card:hover {
    transform: translateY(-5px);
}

.skills {
    margin-bottom: 30px;
}

.skill-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-card {
    flex-basis: calc(50% - 10px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}


/* Estilos para a seção de contato */

.contact {
    margin-bottom: 30px;
    padding: 20px;
    /* Adiciona margem interna para evitar que os elementos fiquem colados nas bordas */
    box-sizing: border-box;
    /* Garante que a margem interna não afete a largura total */
}


/* Estilos para os inputs do formulário */

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    /* Define a largura para ocupar toda a largura disponível */
    box-sizing: border-box;
    /* Garante que o padding não afete a largura total */
}


/* Estilos para o botão do formulário */

.contact form button {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #00ff00;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    /* Define a largura para ocupar toda a largura disponível */
    box-sizing: border-box;
    /* Garante que o padding não afete a largura total */
}

.contact form button:hover {
    background-color: #fff;
    color: #00ff00;
}


/* Responsividade */

@media only screen and (max-width: 768px) {
    .contact form input[type="text"],
    .contact form input[type="email"],
    .contact form textarea,
    .contact form button {
        width: 100%;
        /* Ajusta a largura para ocupar toda a largura disponível em dispositivos móveis */
    }
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap:5px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}


/* Responsividade */

@media only screen and (max-width: 768px) {
    .profile-pic {
        width: 80px;
        height: 80px;
    }
    .menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }
    .menu.active {
        display: block;
    }
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }
    .menu li {
        display: block;
        margin-bottom: 10px;
    }
    .menu li a {
        display: block;
        padding: 10px;
        color: #fff;
        transition: color 0.3s ease;
    }
    .menu li a:hover {
        color: #00ff00;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
